.checkout {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: max-content;
}

.checkout__top {
  width: 100%;
  height: fit-content;
  display: flex;
}

.checkoutTop__left > p {
  margin-left: 50px;
  margin-top: 20px;
  width: fit-content;
  border-bottom: 1px solid #ddd;
}

.checkoutTop__left > img {
  object-fit: contain;
  width: 100%;
  height: 100px;
}

.checkout__bottom {
  height: fit-content;
  margin: 10px;
  padding: 10px;
}

.checkout__bottom > h4 {
  font-weight: 700;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}
