.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  height: 100vh;
}

.registration__logo {
  object-fit: contain;
  width: 100px;
  margin: 20px auto;
}

.dotIn__container {
  position: relative;
}

.dot__in {
  position: absolute;
  top: -50px;
  right: -39px;
  text-decoration: none !important;
  color: black;
}

.registration__container {
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.registration__container > form {
  display: flex;
  flex-direction: column;
}

.registration__container > h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.registration__container > p {
  font-size: 12px;
  margin-top: 15px;
}

.registration__container > form > h6 {
  margin-bottom: 8px;
  margin-top: 15px;
  font-size: 13px;
  font-weight: 700;
}

.registration__container > form > input {
  margin-bottom: 5px;
  outline: none;
  border: 1px solid gray;
  border-radius: 2px;
}

.registration__container > form > input:focus {
  border: none;
  box-shadow: 1px 1px 3px 1px rgb(193, 90, 11),
    -1px -1px 3px 1px rgb(193, 90, 11);
}

.registration__container > form > button {
  border: none;
  border-radius: 2px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #a88734;
}

.registration__container > p > span > a {
  transition: color 200ms ease;
}

.registration__container > p > span > a:hover {
  color: red;
}
